<main class="container">
  <div class="top">
    <nav class="navbar">
      <div class="navbar__logo">
        <img src="../../assets/logo.png" alt="company logo" />
      </div>
      <div class="navbar__links">
        <ul>
          <li><a href="#home">Home</a></li>
          <li><a href="#menu">Menu</a></li>
        </ul>
      </div>
    </nav>
    <div class="closingTime__error" *ngIf="closingTimeError">
      <div class="info">
        <span class="material-icons"> info </span>
        <p>Sorry we have closed. Cannot place orders at this time</p>
      </div>
    </div>
    <div class="body">
      <div class="body__intro" id="home">
        <p class="text_base">Welcome to generation game restaurant</p>
        <p class="text-intro">Home Hut with a home touch</p>
        <p class="text">
          Great food, exceptional service. Our quality beats the market
        </p>
        <div class="body__intro__buttons">
          <a href="#menu">
            <button class="our__menu">see menu</button>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="body__menu" id="menu">
    <div class="search-container">
      <div class="foresight-search-bar fill-space m-bottom">
        <input
          type="text"
          [(ngModel)]="searchTerm"
          (input)="onSearchFood(searchTerm)"
          placeholder="Search for food..."
        />
        <i class="material-symbols-outlined"> search </i>
      </div>
    </div>
    <div>
      <h1 style="margin: 0" class="menu__heading">Our Menu</h1>
      <div class="categories">
        <p
          *ngFor="let item of filters"
          [ngClass]="item === category ? 'active' : ''"
          (click)="onSelectFilter(item)"
        >
          {{ item }}
        </p>
      </div>
    </div>
    <div class="menu__container" *ngIf="foodArray.length > 0; else noFood">
      <div class="menu__meal__card" *ngFor="let item of foodArray">
        <div class="card__image">
          <img src="{{ item.image }}" alt="{{ item.alt }}" />
        </div>
        <div class="card__body">{{ item.body }}</div>
        <div class="card__price">
          <h4>{{ "GHS " + item.price }}</h4>
          <button (click)="onProceedToOrderPage(item.id)">order now</button>
        </div>
      </div>
    </div>
    <ng-template #noFood>
      <div class="empty-food">No Items matched your search</div>
    </ng-template>
  </div>
  <a class="scroll-to-top" *ngIf="isShow" href="#menu">👆</a>
  <app-footer></app-footer>
</main>
