<!--POPUP MODAL-->
<div class="modal" *ngIf="modalOpen">
  <div class="popup center">
    <div class="icon">
      <i class="fa fa-check"></i>
    </div>
    <div class="title">Success!!</div>
    <div class="description">
      Thank you for your order. Please wait while the delivery guy attends to
      you😊
    </div>
    <div class="dismiss-btn">
      <button id="dismiss-popup-btn" (click)="onCloseModal()">Dismiss</button>
    </div>
  </div>
</div>
<!--END POPUP MODAL-->

<!--Location-->
<div class="modal" *ngIf="isValidLocationOrPacks">
  <div class="popup-payment center">
    <div class="description">{{ errorMessage }}</div>
    <div class="dismiss-btn">
      <button class="dismiss-popup-btn" (click)="onCloseLocationModal()">
        Dismiss
      </button>
    </div>
  </div>
</div>

<!--POPUP MODAL-->
<div class="modal" *ngIf="addAnotherItemModal">
  <div style="max-height: 100vh; height: 100%" class="popup center">
    <div class="header">
      <div class="header__title">
        <div class="left">Add Another Food</div>
        <div (click)="closeAddAnotherItemModal()" class="right pill">close</div>
      </div>
      <div class="search-container">
        <div class="foresight-search-bar fill-space m-bottom">
          <input
            type="text"
            [(ngModel)]="searchTerm"
            (input)="onSearchFood(searchTerm)"
            placeholder="Search for food..."
          />
          <i class="material-symbols-outlined"> search </i>
        </div>
      </div>
      <div class="categories">
        <p
          *ngFor="let item of filters"
          [ngClass]="item === category ? 'active' : ''"
          (click)="onSelectFilter(item)"
        >
          {{ item }}
        </p>
      </div>
    </div>
    <div
      style="
        overflow: auto;
        max-height: calc(100% - 8rem);
        margin-top: 13rem;
        padding-bottom: 1rem;
      "
      class="menu__container"
      *ngIf="foodArray.length > 0; else noFood"
    >
      <div class="menu__meal__card" *ngFor="let item of foodArray">
        <div class="card__image">
          <img src="{{ item.image }}" alt="{{ item.alt }}" />
        </div>
        <div class="card__body">{{ item.body }}</div>
        <div class="card__price">
          <h4>{{ "GHS " + item.price }}</h4>
          <button (click)="addFood(item.id)">Add Food</button>
        </div>
      </div>
    </div>
    <ng-template #noFood>
      <div
        class="empty-food"
        style="
          overflow: auto;
          max-height: calc(100% - 8rem);
          margin-top: 13rem;
          padding-bottom: 1rem;
        "
      >
        No Items matched your search
      </div>
    </ng-template>
  </div>
</div>
<!--END POPUP MODAL-->

<!--PAYMENT FAILED MODAL-->
<div class="modal" *ngIf="paymentError">
  <div class="popup-payment center">
    <div class="icon">
      <span class="material-icons"> info </span>
    </div>
    <div class="title">Error!!</div>
    <div class="description">
      <p class="description-info">
        An unexpected error occurred. Please try again later.
      </p>
    </div>
    <div class="dismiss-btn">
      <button id="dismiss-popup-btn" (click)="onClose()">Close</button>
    </div>
  </div>
</div>
<!--END PAYMENT FAILED MODAL-->
<!--PAYSTACK POPUP-->
<div class="modal payment__error2" *ngIf="payStackModal">
  <div class="popup center">
    <div class="closepaystackModal" (click)="onCloseModal()">
      <span class="material-icons"> cancel </span>
    </div>
    <iframe
      *ngIf="payStackUrl"
      [src]="payStackUrl"
      title="description"
      class="paystack-popup"
    ></iframe>
  </div>
</div>
<div class="form-container">
  <nav class="nav-container">
    <div class="navbar">
      <div class="navbar__logo">
        <img src="../../assets/logo.png" alt="company logo" />
      </div>
      <div class="navbar__links">
        <ul>
          <li><a routerLink="/">Home</a></li>
        </ul>
      </div>
    </div>
    <div class="momo__error" *ngIf="momoError">
      <div class="info">
        <span class="material-icons"> info </span>
        <p>{{ momoErrorMessage }}</p>
      </div>
      <!-- <span class="material-icons close" (click)="onClose()"> close </span> -->
    </div>
  </nav>

  <div class="container">
    <form class="form" [formGroup]="orderForm" (ngSubmit)="onSubmit()">
      <h1 class="form__title">Place order</h1>
      <div class="form__container">
        <div class="form__control">
          <label for="foodOrdered">Item(s)</label>
          <div>
            <div class="food-name-container" *ngFor="let item of foodsOrdered">
              <input
                type="text"
                placeholder="Enter food"
                name="foodOrdered"
                class="food-name-input"
                value="{{ item.foodName }}"
                readonly
              />
              <div (click)="removeFood(item.id)" class="remove-food pill">
                <i class="fa fa-trash-o"></i>
              </div>
            </div>
            <!-- <div class="extras-button">Add extras</div> -->
          </div>

          <div (click)="addAnotherItem()" class="add-another">
            <span>+</span><span>Add Another Food or Extras</span>
          </div>
        </div>
        <div class="form__control">
          <label for="name">Name</label>
          <input
            type="text"
            placeholder="Enter your name"
            name="name"
            id="name"
            formControlName="name"
            [ngClass]="{ 'is-invalid': submitted && f['name'].errors }"
          />
          <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
            <div *ngIf="f['name'].errors['required']">Name is required</div>
          </div>
        </div>
        <div class="form__control">
          <label for="phoneNumber"
            >Phone Number(number to be delivered to)</label
          >
          <input
            type="text"
            placeholder="Enter Your Phone number"
            name="phoneNumber"
            id="phoneNumber"
            formControlName="phoneNumber"
            [ngClass]="{ 'is-invalid': submitted && f['phoneNumber'].errors }"
          />
          <div
            *ngIf="submitted && f['phoneNumber'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="f['phoneNumber'].errors['required']">
              phone number is required
            </div>
            <div *ngIf="f['phoneNumber'].errors['pattern']">
              enter a valid phone number
            </div>
          </div>
        </div>
        <div class="form__control">
          <label for="location">Location</label>
          <input
            list="location_lists"
            placeholder="Enter or choose the closest location"
            name="location"
            id="location"
            formControlName="location"
            [ngClass]="{
              'is-invalid':
                (submitted && f['location'].errors) || invalidLocation
            }"
            (change)="onCalculateFee($event)"
          />
          <datalist id="location_lists">
            <option
              *ngFor="let city of locations"
              value="{{ city.name }}"
            ></option>
          </datalist>
          <div
            *ngIf="submitted && f['location'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="f['location'].errors['required']">
              location is required
            </div>
          </div>
          <div
            *ngIf="!(submitted && f['location'].errors) && invalidLocation"
            class="invalid-feedback"
          >
            <div>Select a valid location</div>
          </div>
        </div>

        <div class="form__control">
          <label for="numberOfPacks">Number of packs</label>
          <div
            class="number-of-packs-container"
            *ngFor="let item of foodsOrdered"
          >
            <div class="food-name">{{ item.foodName }}</div>
            <input
              type="number"
              min="1"
              name="numberOfPacks"
              [(ngModel)]="item.quantity"
              id="numberOfPacks"
              formControlName="numberOfPacks"
              (change)="calculateAmount($event)"
              (keyup)="calculateAmount($event)"
              [ngClass]="{ 'is-invalid': !item.quantity }"
            />
            <div
              *ngIf="submitted && f['numberOfPacks'].errors && !item.quantity"
              class="invalid-feedback"
            >
              <div>Enter a valid number</div>
            </div>
          </div>
        </div>
        <div class="form__control">
          <label for="note">Notes </label>
          <textarea
            type="text"
            placeholder="Add any additional comments or any allergies. eg if you want more pepper..."
            name="note"
            id="note"
            formControlName="note"
          ></textarea>
        </div>

        <input
          class="robot"
          type="text"
          name="robot"
          id="robot"
          formControlName="robot"
        />

        <div class="price-info">
          <div class="info-item">
            <p>Delivery Fee :</p>
            {{ deliveryFee.toFixed(2) }}
          </div>
          <div class="info-item">
            <p>Price of Food :</p>
            {{ priceOfFood }}
          </div>

          <hr />
          <div class="info-item">
            <p>Total Price :</p>
            {{ totalPrice.toFixed(2) }}
          </div>
        </div>

        <button type="submit" class="submit-btn">
          <div class="loader-2" *ngIf="loading"></div>
          <p *ngIf="!loading">Place Order</p>
        </button>
      </div>
    </form>
  </div>
  <app-footer></app-footer>
</div>
