@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
@mixin snackBar() {
  position: fixed;
  top: 8rem;
  max-width: 33rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  margin: 0 2rem;
  text-align: center;
  border-radius: 0.4rem;
  color: rgb(255, 255, 255);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: rgb(0 0 0 / 20%) 0px 0.2rem 0.32rem -1px,
    rgb(0 0 0 / 14%) 0px 0.375rem 0.625rem 0px,
    rgb(0 0 0 / 12%) 0px 1px 1.125rem 0px;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.11),
    rgba(255, 255, 255, 0.11)
  );
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  @media screen and (max-width: 700px) {
    width: 90%;
    padding: 0 0.5rem;
  }
  @media screen and (max-width: 450px) {
    width: 80%;
    padding: 0 0.5rem;
  }
  .info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    @media screen and (max-width: 400px) {
      font-size: 0.875rem;
      gap: 0.2rem;
      text-align: left;
    }
  }
  .close {
    cursor: pointer;
  }
}
.momo__error {
  // position: fixed;
  top: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 4rem;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: rgb(0 0 0 / 20%) 0px 0.2rem 0.32rem -1px,
    rgb(0 0 0 / 14%) 0px 0.375rem 0.625rem 0px,
    rgb(0 0 0 / 12%) 0px 1px 1.125rem 0px;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.11),
    rgba(255, 255, 255, 0.11)
  );
  font-size: 1rem;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  .info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-left: 2rem;
    margin-right: 1rem;
    font-size: 1rem;
    flex: 1;
    justify-content: center;
    @media screen and (max-width: 900px) {
      font-size: 0.6rem;
    }
    @media screen and (max-width: 400px) {
      font-size: 0.5rem;
      gap: 0.2rem;
      text-align: left;
      margin-left: 0.5rem;
      margin-right: 1rem;
    }
  }
  background-color: rgb(69, 215, 105);
  color: #000000;
  width: 100%;
  max-width: 100%;
}

.pill {
  border-radius: 1rem;
  background-color: rgb(56, 105, 197);
  padding: 0.2rem 0.5rem;
  color: white;
  font-size: 0.8rem;
  cursor: pointer;
}
.nav-container {
  //background: #febe19;
  display: flex;
  align-items: center;
  box-shadow: -1px 1px 6px 0px rgba(0, 0, 0, 0.43);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 4rem;
  z-index: 10;
  flex-direction: column;
}
.navbar {
  display: flex;
  @media screen and (max-width: 450px) {
    justify-content: normal;
  }
  position: fixed;
  background-color: rgba(255, 255, 255, 0.4);
  border-left: 1px solid rgba(225, 225, 225, 0.3);
  border-right: 1px solid rgba(225, 225, 225, 0.3);
  border-bottom: 1px solid rgba(225, 225, 225, 0.6);
  backdrop-filter: saturate(180%) blur(12px);
  @supports not (backdrop-filter: blur()) {
    background-color: rgba(255, 255, 255, 0.8);
  }
  box-shadow: -1px 0px 30px 0px rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  z-index: 10;
  .navbar__logo {
    margin-left: 1.3rem;
    img {
      height: 4rem;
    }
  }
  .navbar__links {
    flex: 1;
  }
  ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    gap: 1rem;
    a {
      text-decoration: none;
      // color: #2a590c;
      color: #000000;
      font-weight: 600;
      height: 100%;
      width: 100%;
    }
    li {
      padding: 0.5rem;
      display: grid;
      place-content: center;
      transition: border-bottom 100ms ease-in;
      &:hover {
        padding-bottom: 0.1rem;
        border-bottom: 5px solid #000000;
      }
    }
  }
}
.form-container {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.8)
    ),
    url("../../assets/Jollof-fish.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.container {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // background-color: #dfe6e9;
  padding: 2rem 0rem;
  min-height: 100vh;
  @media screen and (max-width: 770px) {
    padding: 2rem 2rem;
  }
  @media screen and (max-width: 400px) {
    padding: 2rem 1rem;
  }
}

.payment__error {
  @include snackBar();
  background-color: rgb(215, 69, 69);
}
.payment__success {
  @include snackBar();
  background-color: #61a564;
}

.payment__loading {
  // @include snackBar();
  // justify-content: flex-start;
  // gap: 1rem;
  // background-color: #37a1db;
  .loader,
  .loader:after {
    border-radius: 50%;
    width: 1.25rem;
    height: 1.25rem;
  }
  .loader {
    border-top: 0.32rem solid rgba(255, 255, 255, 0.2);
    border-right: 0.32rem solid rgba(255, 255, 255, 0.2);
    border-bottom: 0.32rem solid rgba(255, 255, 255, 0.2);
    border-left: 0.32rem solid #ffffff;
    transform: translateZ(0);
    animation: load8 1.1s infinite linear;
  }
  @-webkit-keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}

.form {
  background-color: #ffffff;
  max-width: 40rem;
  width: 100%;
  margin: 4rem auto auto auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  @media screen and (max-width: 770px) {
    margin: 3rem 1rem auto 1rem;
  }
  @media screen and (max-width: 400px) {
    margin: 3rem 1rem auto 1rem;
  }
  box-shadow: 0 0 1.125rem 0 rgba(0, 0, 0, 0.2),
    0 0.32rem 0.32rem 0 rgba(0, 0, 0, 0.24);
  .form__title {
    text-align: center;
    text-transform: uppercase;
  }
  .form__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0rem 2rem 2rem 2rem;
    .form__control {
      display: flex;
      flex-direction: column;
      gap: 0.2rem;
      label {
        font-weight: bold;
        font-size: 1.2rem;
      }
      .invalid-feedback {
        color: red;
        font-size: 0.8rem;
      }
      input,
      textarea,
      select {
        width: 100%;
        padding: 0.7rem 1rem;
        font-family: inherit;
        font-size: 1rem;
        margin: 0.5rem 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
      }
      textarea {
        height: 10rem;
      }
      .is-invalid {
        border: 1px solid red;
      }
    }
  }
}

/*****POPUP MODAL***********/
.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 12; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.popup {
  position: relative;
  overflow: hidden;
  height: 90vh;
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 1rem;
    position: absolute;
    width: calc(100% - 2rem);
    top: 0;
    background-color: white;
    z-index: 200;
    left: 0;
    .header__title {
      display: flex;
      width: 100%;
      margin-bottom: 1rem;
    }
    .left {
      flex-grow: 1;
    }
  }
  max-width: 45rem;
  width: 100%;
  background: #f5f5f5;
  border-radius: 10px;
  box-sizing: border-box;
  z-index: 2;
  text-align: center;
  opacity: 1;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  animation-name: animatetop;
  animation-duration: 300ms;
  @media screen and (max-width: 650px) {
    // height: 100vh;
    border-radius: 0;
  }
}

.popup-payment {
  position: relative;
  overflow: hidden;
  .header {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    position: absolute;
    width: calc(100% - 2rem);
    top: 0;
    background-color: white;
    z-index: 200;
    left: 0;
    .left {
      flex-grow: 1;
    }
  }
  max-width: 25rem;
  width: 100%;
  padding: 30px 20px;
  background: #f5f5f5;
  border-radius: 10px;
  box-sizing: border-box;
  z-index: 2;
  text-align: center;
  opacity: 1;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  animation-name: animatetop;
  animation-duration: 300ms;
  @media screen and (max-width: 650px) {
    max-width: calc(100% - 40px);
  }
  .icon {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
  }
}

/* Add Animation */

@keyframes animatetop {
  from {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

/*****END POPUP MODAL***********/
.price-info {
  .info-item {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    p {
      font-weight: bold;
      margin: 0.2rem;
    }
  }
}

/****LOADER****/
.payment__loading2 {
  .icon {
    border: none;
  }
}
.payment__error2 {
  color: rgb(215, 69, 69);
  .icon {
    border: 2px solid rgb(215, 69, 69);
    span {
      color: rgb(215, 69, 69);
    }
  }
  .description {
    color: rgb(215, 69, 69);
    .description-info {
      color: #111;
    }
  }
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
}
.loader {
  border-top: 0.5rem solid #111;
  border-right: 0.5rem solid #111;
  border-bottom: 0.5rem solid #111;
  border-left: 0.5rem solid #cecbcb;
  transform: translateZ(0);
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/****ENDLOADER***/

.add-another {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 1rem;
  background-color: #0967c7;
  transition: all;
  border-radius: 10px;
  font-size: 1rem;
  padding: 0.7rem 0.5rem;
  @media screen and (max-width: 500px) {
    font-size: 0.8rem;
  }
  span {
    display: inline-block;
  }
  color: #ffffff;
  &:hover {
    background-color: #1f70d3;
  }
  .categories {
    justify-content: flex-start !important;
  }
}

.food-name-container {
  display: flex;
  align-items: center;
  .food-name-input {
    flex-grow: 1;
  }
  .remove-food {
    margin-left: 0.5rem;
  }
}
.extras-button {
  width: max-content;
  padding: 0.3rem 3rem;
  margin: 0 auto;
  text-align: center;
  border: 1px solid red;
}

.robot {
  display: none;
}

.submit-btn {
  background: #2a590c;
  display: inline-block;
  cursor: pointer;
  border: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 1rem;
  padding: 1rem;
  transition: background-color 100ms ease-in;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    margin: 0;
  }
  .loader-2,
  .loader-2:after {
    border-radius: 50%;
    width: 1.2rem;
    height: 1.2rem;
  }
  .loader-2 {
    border-top: 0.2rem solid rgba(255, 255, 255, 0.2);
    border-right: 0.2rem solid rgba(255, 255, 255, 0.2);
    border-bottom: 0.2rem solid rgba(255, 255, 255, 0.2);
    border-left: 0.2rem solid #ffffff;
    transform: translateZ(0);
    animation: load8 0.5s infinite linear;
  }
  @-webkit-keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}
.paystack-popup {
  margin-top: 5rem;
  width: 100%;
  border: none;
  height: 100%;
}
.closepaystackModal {
  width: 3rem;
  height: 3rem;
  position: absolute;
  right: 1.5rem;
  top: 0.7rem;
  border-radius: 50%;
  cursor: pointer;
  span {
    font-size: 3rem;
    color: #f44336;
  }
}

.paystack-popup .button,
.button--standard {
  display: none;
}

.dismiss-popup-btn {
  border: none;
  background: red;
  padding: 0.5rem 1.5rem;
  margin-top: 1rem;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
