<main class="display__container">
  <div class="order-details" *ngIf="showOrderDetails">
    <div class="card">
      <div class="card-info">
        <span class="card__heading">Total Orders(This month)</span>
        <span class="card__quantity">{{ totalOrders }}</span>
      </div>
      <div class="card-icon">
        <span class="material-icons"> receipt_long </span>
      </div>
    </div>
    <div class="card">
      <div class="card-info">
        <span class="card__heading">Total Amount </span>
        <span class="card__quantity">₵{{ totalAmount }}</span>
      </div>
      <div class="card-icon">
        <span class="material-icons"> payments </span>
      </div>
    </div>
    <div class="card">
      <div class="card-info">
        <span class="card__heading">Amount To Be Paid</span>
        <span class="card__quantity">₵{{ amountTobePayed }}</span>
      </div>
      <div class="card-icon">
        <span class="material-icons"> payments </span>
      </div>
    </div>
  </div>
  <h1 class="title">Orders</h1>
  <div class="display__container__items">
    <app-single-order
      *ngFor="let item of foodOrdered"
      [item]="item"
      [orderType]="OrderType.pendingOrder"
    ></app-single-order>
  </div>
</main>
